// ----Media query mixin-----------//
@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
    @content;
    }
    }
    
    @mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
    @content;
    }
    }
    
    // ----------------------------For Orientation-----------------------//
    @mixin landscape-orientation($max-screen-size,
    $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
    @content;
    }
    }
    
    @mixin btw-mq($min-screen-size,
    $max-screen-size,
    $pixel-ratio,
    $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
    @content;
    }
    }    
// ------------END of Media Screen Mixing--------------//

.heading-row {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    @include max-mq(767){
        padding: 10px;
    }
    button.close-btn {
        margin-bottom: 0px;
        margin-right: 10px;
        outline: none !important;
        @include max-mq(767){
            line-height: 0;
            margin-right: 5px;    
        }
        img{
            @include max-mq(767){
                width: 12px;
            }
        }
    }
    .heading {
        font-size: 20px;
        text-decoration: none;
        margin-bottom: 0;
        @include max-mq(767){
            font-size: 16px;
        }
    }
}

.content-area {
    padding: 0px 50px;
    padding-bottom: 30px;
    @include max-mq(1300){
        padding: 0px 40px;
        padding-bottom: 30px;

    }
    @include max-mq(767){
        padding: 0px 30px;
        padding-bottom: 10px;
    }
    
}

p {
    font-size: 15px;
    line-height: 23px;
    @include max-mq(767){
        font-size: 12px;
        line-height: normal;
    }
    span{
        font-size: 15px;
        text-decoration: underline;
        font-weight: 500;
        cursor: pointer;
        @include max-mq(767){
            font-size: 12px;
            line-height: normal;
        }
    }
}


.buttons-groups-main{
    text-align: center;
    button{
        display: block;
        margin: auto;
        margin-bottom: 20px;
        width: 240px;
        padding: 12px 20px;
        font-size: 14px;
        @include max-mq(1300){
            margin-bottom: 15px;
            width: 220px;
            padding: 13px 20px;
            font-size: 13px;
        }
        @include max-mq(767){
            width: 190px;
            padding: 10px 20px;
            font-size: 12px;
        }
    }
}