<div class="heading-row">
    <button class="close-btn" (click)="onNoClick()"><img src="../../../../assets/images/close-icon.svg" alt="close" title="close"/></button>
    <div class="heading">Request availability</div>
    
</div>


<div class="content-area">
    <p>Contact Pedro and their team to check availability for dates and times not listed, or to book a private group.</p>
    
    <div class="buttons-groups-main">
        <button class="btn">Request date and time</button>
        <button class="btn">Request a private group</button>
    </div>

    <p>If you have general questions about how experiences work, visit our <span> FAQ</span></p>


</div>
