<div class="heading-row">
    <button class="close-btn" (click)="onNoClick()"><img src="../../../../assets/images/close-icon.svg" alt="close" title="close"/></button>
    <div class="heading">Share this experience</div>
    
</div>


<div class="content-area">

        <div class="links-main"> <img src="../../../../assets/images/facebook-share.svg" title="Facebook" alt="Facebook"> Facbook </div>
        <div class="links-main"> <img src="../../../../assets/images/twitter-share.svg" title="Twitter" alt="Twitter"> Twitter </div>
        <div class="links-main"> <img src="../../../../assets/images/copy-link-share.svg" title="Copy" alt="Copy"> Copy Link </div>
        <div class="links-main"> <img src="../../../../assets/images/email-share.svg" title="Email" alt="Email"> Email </div>
        <div class="links-main"> <img src="../../../../assets/images/whatsapp-share.svg" title="WhatsApp" alt="WhatsApp"> WhatsApp </div>
        <div class="links-main"> <img src="../../../../assets/images/messanger-share.svg" title="Messanger" alt="Messanger"> Messanger </div>
        <div class="links-main"> <img src="../../../../assets/images/sms-text-share.svg" title="SMS" alt="SMS"> SMS (Text) </div>
        <div class="links-main"> <img src="../../../../assets/images/embed-share.svg" title="Embed" alt="Embed"> Embed </div>
        <div class="links-main"> <img src="../../../../assets/images/embed-share.svg" title="Embed" alt="Embed"> Booking Tool </div>

</div>

