<div class="header-for-modal-popup">
  <button (click)="closeModal()">
    <img src="../../../assets/images/close-icon.svg" alt="close" title="close" />
  </button>
  <span class="heading-text">{{ type== LOGIN_TYPE.EMAIL ?  "Confirm Your Email" : "Confirm Your Number" }}</span>
</div>

<div class="content-area-main text-center">
  <div class="enter-code-text">
    Enter the code we've sent via <span *ngIf="type != 'email'">SMS </span><span *ngIf="type === 'email'">EMAIL </span>to
    <span class="phone-num" *ngIf="type != 'email'">{{countryCode}} {{phoneNumber}}</span>
    <span class="phone-num" *ngIf="type === 'email'">{{email}}</span>
  </div>
  <div class="otp-main-div">
    <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config">
    </ng-otp-input>
  </div>
  <div class="text-center mt-3 mb-3">
    <button class="btn-custom" type="submit" 
    (click)="verifyOtp()"
      [disabled]="isApiCalling"
      [ngStyle]="{ opacity: isApiCalling ? 0.5 : '' }">
      <i class="fa fa-spinner fa-spin" *ngIf="isApiCalling"></i>
      
      Verify
    </button>
  </div>
  <div class="short-text-main">
    Haven't received a code? <a (click)="resendOtp()" class="cursor-pointer">Resend</a>

  </div>


</div>