<div class="comman-margin-top">    
    <div class="comman-container manage-experience-calaneder-main">
         <!-----First-row-main-for-foods-profiling--------------------->
        <div class="first-row-main-for-foods">
                <div class="left-col-main-food">
                    <div class="left-img-box">
                        <img src="../../../../assets/images/img-for-dish.png" alt="img" title="img"> 
                    </div>
                    <div class="right-content-box">
                        <div class="dish-name-title">Japanese Food Trivia Night</div>
                        <div class="time-div">7:00 AM -9:00 AM(IST), Jan 26, 2021</div>
                        <div class="no-guest-yet-main"> No guest yet</div>
                        <div class="locations-and-language-row-main">
                                <span class="city-name">Vancouver</span>
                                <span class="language-name">English</span>
                        </div>

                    </div>

                </div>
                <div class="right-col-main-food">
                    <a href="#" title="Edit">Edit</a>

                </div>
        </div>

        <!-- ---------------tabs-of-calender-start-hear-------------------- -->
            <div class="tabs-for-calender-main-page">
                <nav>
					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Calendar</a>
						<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Inbox</a>
						<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Transactions</a>
						<a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Reviews</a>
                        <a class="nav-item nav-link" id="nav-resources-tab" data-toggle="tab" href="#nav-resources" role="tab" aria-controls="nav-about" aria-selected="false">Resources</a>
					</div>
				</nav>
				<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
						Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
					</div>

                    <!-----------------Inbox-settings-main---------------->
					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="hosting-inbox-main">
                                <div class="title-main">Experience hosting inbox</div>
                                <div class="dropdown-today">
                                    <div class="btn-group" dropdown>
                                        <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                                aria-controls="dropdown-animated">
                                            Today<span class="caret"></span>
                                        </button>
                                        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                                            role="menu" aria-labelledby="button-animated">
                                          <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                                          <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                                          <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
                                </div>
                        </div>

                        <!-- ---------------------Inbox-notifications----------------- -->

                        <div class="comman-row-for-inbox" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
                                <div class="first-col-custom">
                                        <div class="img-profile">
                                            <img src="../../../../assets/images/profile-pic-for-inbox.png" alt="profile-pic" title="Profile-pic"/>
                                        </div>
                                        <div class="profile-details-main">
                                            <div class="name-of-person">John Doe</div>
                                            <div class="date-of-title">July 21, 2021</div>
                                        </div>
                                </div>
                                <div class="inbox-descriptions second-col-custom">
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </div>
                                <div class="third-col-custom">
                                    <div class="inquiry-badge">Inquiry</div>

                                </div>
                                <div class="fourth-col-custom">
                                    <a href="#" title="start"><img src="../../../../assets/images/star-lines.svg" alt="img" title="img"> </a>
                                    <a href="#" title="start"><img src="../../../../assets/images/bookmarks-main.svg" alt="img" title="img"> </a>
                                </div>
                        </div>
                

                    

					</div>

                    <!-- --------------Transactions-----------------  -->
					<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <!------------------ ----First-row-main------------ -->
                        <div class="first-rows-main">
                            <div class="all-payment-method-main filter-left-col">
                                <div class="btn-group" dropdown>
                                    <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                            aria-controls="dropdown-animated">
                                            All payout method<span class="caret"></span>
                                    </button>
                                    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                                        role="menu" aria-labelledby="button-animated">
                                      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                                      <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                                      <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="filter-right-col">
                                    <div class="left-inner-filter-col-first">
                                        <label class="from-to">From</label>
                                        <div class="btn-group" dropdown>
                                            <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                                    aria-controls="dropdown-animated">
                                                January<span class="caret"></span>
                                            </button>
                                            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                                                    role="menu" aria-labelledby="button-animated">
                                                <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                                                <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                                                <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                                            </ul>
                                        </div>
                                        <div class="btn-group" dropdown>
                                            <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                                    aria-controls="dropdown-animated">
                                                2021<span class="caret"></span>
                                            </button>
                                            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                                                role="menu" aria-labelledby="button-animated">
                                                <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                                                <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                                                <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                                            </ul>
                                        </div> 
                                    </div>
                                    <div class="right-inner-filter-col-first">
                                        <label class="from-to">To</label>
                                        <div class="btn-group" dropdown>
                                            <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                                    aria-controls="dropdown-animated">
                                                March<span class="caret"></span>
                                            </button>
                                            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                                                    role="menu" aria-labelledby="button-animated">
                                                <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                                                <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                                                <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                                            </ul>
                                        </div>
                                        <div class="btn-group" dropdown>
                                            <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                                    aria-controls="dropdown-animated">
                                                2021<span class="caret"></span>
                                            </button>
                                            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                                                role="menu" aria-labelledby="button-animated">
                                                <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                                                <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                                                <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                                            </ul>
                                        </div> 

                                    </div>


                            </div>
                        </div>

                        <!-- ------------------Second-row-main----------- -->
                        <div class="paid-out-main">
                            <div class="paid-left">
                                <span class="paid-title">Paid Out:</span>
                                <span class="paid-value">Rs. 5000</span>
                            </div>
                            <div class="paid-right">
                                <div class="btn-group" dropdown>
                                    <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                            aria-controls="dropdown-animated">
                                            Export <span class="caret"></span>
                                    </button>
                                    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                                        role="menu" aria-labelledby="button-animated">
                                        <li role="menuitem">
                                          <a class="dropdown-item" href="#">
                                              <img src="../../../../assets/images/pdf-icon.svg" alt="pdf" title="pdf">
                                              PDF
                                          </a>
                                        </li>
                                        <li role="menuitem">
                                            <a class="dropdown-item" href="#">
                                                <img src="../../../../assets/images/csv-icon.svg" alt="csv" title="csv">
                                                CSV  
                                            </a>
                                        </li>
                                        <li role="menuitem">
                                            <a class="dropdown-item" href="#">
                                                <img src="../../../../assets/images/csv-icon.svg" alt="csv" title="csv">
                                                JPG
                                            </a>
                                        </li>
                                      
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- ----------------third-row-main-------------- -->
                        <!-- ------------------Fourth-row--------------------- -->
                        <div class="table-main-div">
                            <div class="inner-wrapper-table">
                                <div class="month-name">January_2021</div>
                                <!-- transaction-row-------------- -->
                                <div class="transactions-row" *ngFor="let item of transactions">
                                    <div class="first-col">
                                        <div class="card-pics">
                                            <img src="../../../../assets/images/credit-card.svg" alt="img" title="img">
                                            <div class="com-title">John doe</div>
                                        </div>     
                                    </div>
                                    <div class="second-col">
                                        <div class="com-title group-event-color">Group event</div>
                                    </div>
                                    <div class="third-col">
                                        <div class="status-col">
                                            <div class="com-icon credit-color-icon"></div>
                                            <div class="status-title">Credit</div>
                                        </div>
                                    </div>
                                    <div class="fourth-col">
                                        <div class="data-time">10 Jan, 2021 - 07:00 AM - 09:00 AM</div>
                                    </div>
                                    <div class="last-col">
                                        <div class="credited-balance">+ Rs. 500</div>
                                    </div>
                                </div>
                                <!-- -------------Divider-------------- -->
                                <div class="diveder"></div>
                            </div>
                        </div>

                    </div>
                    <!-- -----------------Reviews----------------------------- -->
					<div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                        
                        <!-----------------First-row-reviews------------- --> 
                        <div class="first-row-reivews-main">
                            <div class="left-col-title-reviews">Total 100 reviews</div>
                            <div class="dropdown-today">
                                <div class="btn-group" dropdown>
                                    <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                            aria-controls="dropdown-animated">
                                        Today<span class="caret"></span>
                                    </button>
                                    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                                        role="menu" aria-labelledby="button-animated">
                                      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                                      <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                                      <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- -------------Second-row-reviews------- -->
                        <div class="main-reviews-area">
                                <div class="left-big-reviews">
                                    <div class="inner-reviews-rows">
                                        <div class="left-profile-pics">
                                            <img src="../../../../assets/images/review-profile.png" alt="icon" title="icon">
                                        </div>
                                        <div class="right-profile-pics">
                                            <div class="first-right-pro-row">
                                                <div class="sub-text-ratings">
                                                        <div class="person-name">Stephanie</div>
                                                        <div class="title-dates">January 2021</div>
                                                </div>
                                                <div class="sub-star-ratings">
                                                    <img src="../../../../assets/images/favorite.svg" alt="fav" title="fav">
                                                    <div class="right-title">4.5</div>
                                                </div>
                                            </div>
                                            <div class="text-descriptions">
                                                Segunda vez que me hospedo aquí y sin lugar a duda lo volvería a hacer! La habitación es cómoda y agradable, el espacio es el necesario. El baño sin lugar a duda de lo mejor! Sin lugar a dudas es una… 
                                                <a href="#" title="readmore">read more</a>
                                            </div>
                                            <div class="translate-text">Translate</div>
                                            <div class="text-box-main">
                                                <div class="left-text-box">
                                                    <img src="../../../../assets/images/review-profile.png" alt="icon" title="icon">
                                                </div>
                                                <div class="right-text-box">
                                                    <textarea class="textarea-reviews"></textarea>
                                                    <div class="btns-rows-text-box">
                                                        <div class="cancel-btn">
                                                            <a href="#" title="Cancel">Cancel</a>
                                                        </div>
                                                        <div class="save-btn">
                                                            <a href="#" title="Save">Save</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="right-big-reviews">
                                    <div class="dropdown-today">
                                        <div class="btn-group" dropdown>
                                            <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                                    aria-controls="dropdown-animated">
                                                <img src="../../../../assets/images/three-dots-horizontal.svg" alt="icon" title="icon">    <span class="caret"></span>
                                            </button>
                                            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                                                role="menu" aria-labelledby="button-animated">
                                              <li role="menuitem"><a class="dropdown-item" href="#">Reply</a></li>
                                              <li role="menuitem"><a class="dropdown-item" (click)="openDialog()">Flag appropriate</a></li> 
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        </div>
					</div>

                    <div class="tab-pane fade" id="nav-resources" role="tabpanel" aria-labelledby="nav-resources-tab">
						Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
					</div>
				</div>



            </div>

    </div>
</div>


