<div class="header-for-modal-popup">
    <button (click)="onNoClick()">
      <img
        src="../../../assets/images/close-icon.svg"
        alt="close"
        title="close"
      />
    </button>
    <span class="heading-text">Welcome to Twiwfy</span>
  </div>
  
  <div class="main-box-for-account-type">
        <div class="inner-box-main">
             <div class="img-pro">
                 <img src="../../../assets/images/profile.svg" alt="profile" title="profile" />
             </div>
             <div class="right-text-box">
                <span class="account-holder">Continue as John</span>
                <span class="phone-text">Phone</span>
             </div>
        </div>
        <div class="inner-box-main">
            <div class="img-pro">
                <img src="../../../assets/images/profile.svg" alt="profile" title="profile" />
            </div>
            <div class="right-text-box">
               <span class="account-holder">Continue as John</span>
               <span class="phone-text">Phone</span>
            </div>
       </div>

       <div class="not-you-man">Not you? <a href="#" class="another-account"> Use another account</a></div>
  </div>
