<div class="custom-row">

    <div class="left-col">
            <div class="first-row-img">
                <img class="participation-1" src="../../../../../../../assets/images/mask-medical.png" alt="particip" title="particip">
            </div>   

    </div>
    <div class="right-col">
        <div class="heading">Your commitment</div>
        
        <ul class="custom-ul">
            <li>I have read, understand, and agree to follow the Twiwfy safety 
                and cleaning guidelines and will ensure that my co-hosts 
                do the same.</li>
            <li>I understand that I am responsible for complying with local
                guidelines and laws applicable to my experience,
                including any safety and cleaning guidelines issued by local
                health or other authorities.</li>
        </ul>

       

    </div>

</div>
<!-- <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
<div class="next-back-row-main">
    <div class="left-text">
        11 items to submit
    </div>
    <div class="button-row">
        <button class="btn-back" (click)="next(33)" matRipple>Back</button>
        <button class="btn-next" (click)="next(26)" matRipple>Next</button>
 
    </div>

</div> -->