<div class="comman-margin-top comman-margin-main what-you-would">

    <div class="comman-container">

       <div class="heading">What would you like to change?</div>
       <p>Worlds Top Coffee Masterclass · Tue, Jan 26 · 1:30 AM − 2:30 AM (IST) · 2 guests</p>

       <div class="grid-main-change">

            <div class="inner-grid comm-col">
                <img src="../../../../assets/images/calender-vector.svg" alt="calender" title="calender">
                <div class="change-text">Change the date or time</div>
                <div class="next-btn" [routerLink]="['/change-date-or-time']">Next</div>
            </div>

            <div class="inner-grid comm-col">
                <img src="../../../../assets/images/add-guest.svg" alt="calender" title="calender">
                <div class="change-text">Add guests to reservation</div>
                <div class="next-btn">Next</div>
            </div>

            <div class="inner-grid comm-col">
                <img src="../../../../assets/images/remove.svg" alt="calender" title="calender">
                <div class="change-text">Remove guests from reservation</div>
                <div class="next-btn">Next</div>
            </div>

            <div class="inner-grid comm-col">
                <img src="../../../../assets/images/block.svg" alt="calender" title="calender">
                <div class="change-text">Cancel my reservation</div>
                <div class="next-btn">Next</div>
            </div>



       </div>


    </div>

</div>


