<div class="custom-row">

    <div class="left-col">
            <div class="first-row-img">
                <img class="participation-1" src="../../../../../../../assets/images/hand-cleaning.png" alt="particip" title="particip">
            </div>   

    </div>
    <div class="right-col">
        <div class="heading">Follow cleaning protocols</div>
        <p>If you are hosting in your home or a space you manage, make sure 
            you clean and sanitise your space before and between each
            instance of hosting an experience.</p>
        <ul class="custom-ul">
            <li>Be sure to leave enough time between experiences to clean
                the spaces guests have entered, any materials used, your
                clothing, etc. </li>
            <li>You may need to adjust the number of instances you host per
                day in order to leave yourself enough time to fully clean and 
                sanitise between guests. </li>
        </ul>

       

    </div>

</div>
<!-- <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
<div class="next-back-row-main">
    <div class="left-text">
        11 items to submit
    </div>
    <div class="button-row">
        <button class="btn-back" (click)="next(31)" matRipple>Back</button>
        <button class="btn-next" (click)="next(33)" matRipple>Next</button>

    </div>

</div> -->