<div class="comman-margin-top saved-main">
    <div class="comman-container">
            <!-- ----------Breadcumbs------------------------- -->
            <div class="breadcumbs-main">
                <div class="bredcumb-title">Account</div> 
                > 
                <div class="bredcumb-title second-margin-left">Login & Security</div>
            </div>

            <!-- ---------Content-area---------------------- -->

            <div class="personal-info-main">

                <div class="left-col-info">
                    <div class="inner-wrapper-main">
                        <div class="heading-row-main">
                            <div class="left-heading">Login & Security</div>
                            <!-- <div class="edit-btn"> <img src="../../../../assets/images/edit.svg" alt="edit" title="edit"></div> -->
                        </div>
                        <div class="form-title">Password</div>
                        <div class="password-row-main">
                            <div class="left-input">
                                    <input type="password" value="12345" >
                                    <span>Last updated 2 months ago</span>
                            </div>
                            <div class="right-edit-main"><img src="../../../../assets/images/edit.svg" alt="edit" title="edit"></div>

                        </div>
                        <div class="form-title">Social Accounts</div>
                        <div class="social-row">
                            <div class="left-social-row">
                                <img src="../../../../assets/images/facebook-grey.svg">
                                Facebook
                            </div>
                            <div class="right-social-btn">Connect</div>
                        </div>


                     

                    </div>


                </div>

                <div class="right-col-info">
                        <div class="right-inner-wrapper">
                            <div class="inner-divs">
                                <img src="../../../../assets/images/login-security.svg" alt="lock" title="lock">
                                <div class="right-title">Keeping your account secure</div>
                                <p>We regularly review accounts to make sure they’re as secure as possible. We’ll also let you know if there’s more we can do to increase the security of your account.</p>
                                <p>Learn about safety tips for guests and hosts.</p>
                            </div>
                        </div>


                </div>


            </div>


    
    </div>


    
</div>


