@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
    @content;
    }
    }
    
    @mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
    @content;
    }
    }
    
    // ----------------------------For Orientation-----------------------//
    @mixin landscape-orientation($max-screen-size,
    $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
    @content;
    }
    }
    
    @mixin btw-mq($min-screen-size,
    $max-screen-size,
    $pixel-ratio,
    $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
    @content;
    }
    }    
// ------------END of Media Screen Mixing--------------//


.heading {
    font-size: 28px;
    text-decoration: none;
    @include max-mq(1600){
        font-size: 25px;
    }
    @include max-mq(1400){
        font-size: 22px;
        margin-bottom: 20px;
    }
    @include max-mq(567){
        font-size: 18px;
        margin-bottom: 15px;
    }
}
p{
    font-size: 16px;
    line-height: 26px;
    color: #9C9C9C;
    @include max-mq(1400){
        font-size: 13px;
        line-height: 24px;
    }
    @include max-mq(567){
        font-size: 12px;
        line-height: 21px;
    }
}   

.custom-ul{
    li{
        padding-left: 20px;
        margin-bottom: 15px;
        font-size: 14px;
        color: #878787;
        position: relative;
        @include max-mq(1100){
            font-size: 12px;
            margin-bottom: 10px;
        }
        @include max-mq(567){
            padding-left: 18px;
            margin-bottom: 10px;
            font-size: 12px;
        }
        span {
            font-size: 14px;
            color: #000;
            font-weight: 500;
        }
        &::before{
            position: absolute;
            content: '';
            background: #000;
            width: 8px;
            height: 8px;
            left: 0;
            top: 7px;
            border-radius: 100%;
        }
    }
}

.custom-row{
    // height: 600px;
    @include max-mq(1350){
        height: auto;
    }
}

.custom-row {
    display: flex;
    overflow-y: auto;
    margin-bottom: 0px;
    @include max-mq(1350){
        margin-bottom: 30px;
        flex-direction: column;
    }
    .left-col {
        width: 35%;
        @include max-mq(1350){
            width: 100%;
            margin-bottom: 25px;
            display: flex;
        }
        
    }
    .right-col{
        width: 65%;
        padding-left: 50px;
        @include max-mq(1660){
            padding-left: 40px;
        }
        @include max-mq(1350){
            padding-left: 0px;
            width: 100%;
        }
        
    }
}


.first-row-img{
    text-align: right;
    @include max-mq(567){
        display: none;
    }
    .participation-1 {
        width: 240px;
        margin-left: auto;
        margin-right: 0;
        border-radius: 150px 150px 150px 0px;
        @include max-mq(1660){
            width: 190px;
        }
        @include max-mq(1100){
            width: 160px;
            border-radius: 80px 80px 80px 0px;
            margin-right: 20px;
        }
    }
}

.second-row-img {
    display: flex;
    margin-top: -60px;
    @include max-mq(1660){
        margin-top: -30px;
    }
    img.technical {
        width: 220px;
        border-radius: 100%;
        @include max-mq(1660){
            width: 180px;
        }
        @include max-mq(1350){
            width: 250px;
        }
        @include max-mq(1100){
            width: 220px;
        }  
    }
    .pink-cirlce {
        background: rgba(255, 153, 186, 0.7);
        width: 130px;
        height: 130px;
        border-radius: 100%;
        position: relative;
        margin-top: auto;
        margin-left: auto;
        @include max-mq(1660){
            width: 80px;
            height: 80px;
        }
        &::before{
            position: absolute;
            content: '';
            background: #302EA7;
            width: 76px;
            height: 60px;
            bottom: 0;
            @include max-mq(1660){
                width: 36px;
                height: 36px;
            }
        }
    }
}