
<div class="custom-row">

    <div class="left-col">
            <div class="first-row-img">
                <img class="participation-1" src="../../../../../../../assets/images/Technical-img.png" alt="particip" title="particip">
            </div>   
            <div class="second-row-img">
                <img class="technical" src="../../../../../../../assets/images/Techinal-img-2.png" alt="Technical" title="Technical">
                <div class="pink-cirlce"></div>
            </div>

    </div>
    <div class="right-col">
        <div class="heading">Technical Quality</div>
        <p>We’re looking for hosts who can also master the technical aspects of a
            great online experience.</p>
        <p>For example:</p>
        <ul class="custom-ul">
            <li> Lighting that helps guests to see you and the activity </li>
            <li>Sound that is clear and without background noise</li>
            <li>Fast internet for smooth video without disconnections</li>
        </ul>
        <p style="margin-top:50px">Guests shouldn’t be distracted by glitches, and you should be able
            to patiently guide them if they’re having trouble.</p>
       

    </div>

</div>
<!-- <mat-progress-bar mode="determinate" value="35"></mat-progress-bar>
<div class="next-back-row-main">
    <div class="left-text">
        16 items to submit
    </div>
    <div class="button-row">
        <button class="btn-back" (click)="next(7)" matRipple>Back</button>
        <button class="btn-next" (click)="next(9)" matRipple>Next</button>

    </div>

</div> -->