
<div class="heading-row-main">
    <button class="close-btn" (click)="Close()"><img src="../../../../assets/images/close-icon.svg" alt="close" title="close"/></button>
    <div class="small-heading">Link a debit/credit card</div>
</div>


<div class="content-area-main">
   

    <div class="form-filed">
        <div class="comman-heading">Name On Card</div>
        <input type="text">
    </div>
    <div class="form-filed">
        <div class="upper-row-head">
            <div class="comman-heading">Card info</div>
            <div class="right-img">
                <img src="../../../../assets/images/new-visa.svg" alt="img" title="img">
            </div>
        </div>
        <input type="text">
    </div>

    <div class="grid-col-main">
        <div class="form-filed">
            <div class="comman-heading">Expiration</div>
            <input type="text">
        </div>
        <div class="form-filed">
            <div class="comman-heading">CVV</div>
            <input type="text">
            <button class="password">
                    <img src="../../../../assets/images/eye-btn.svg" alt="eye" title="eye">
            </button>
        </div>
    </div>
    
    
    
    <div class="btn-row">
        <a href="#" title="cancel" class="cancel">Cancel</a>
        <a href="#" title="Done" class="done"> 
            <img src="../../../../assets/images/white-lock.svg" alt="img" title="img">
            Done
        </a>
        
    </div>
    

</div>
