<div class="custom-row">

    <div class="left-col">
            <div class="first-row-img">
                <img class="participation-1" src="../../../../../../../assets/images/locations-adjust.png" alt="particip" title="particip">
            </div>   

    </div>
    <div class="right-col">
        <div class="heading">Make location adjustments</div>
        <p>Whether you’re outdoors, in a public space, or indoors in a 
            space you own, it’s likely you'll need to make some adjustments
            to the format of your experience.</p>
        <ul class="custom-ul">
            <li>If you are in public spaces, change your meeting location and 
                the venues you visit in order to avoid crowds. Keep guests moving 
                rather than being sedentary as the latter increases the
                risk for transmission.</li>
            <li>If you’re indoors, consider limiting the areas a guest can enter in
                your home to only the necessary spaces.</li>
            <li>Consider moving indoor experiences to the outdoors to make more
                space for social distancing.</li>    
        </ul>

       

    </div>

</div>
<!-- <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
<div class="next-back-row-main">
    <div class="left-text">
        11 items to submit
    </div>
    <div class="button-row">
        <button class="btn-back" (click)="next(30)" matRipple>Back</button>
        <button class="btn-next" (click)="next(32)" matRipple>Next</button>

    </div>

</div> -->