<div class="header-row-flags">
    <div class="clsoe-icon" (click)="onNoClick()">
        <img src="../../../../assets/images/close-icon.svg" alt="close" title="close">
    </div>  
    <div class="heading-of-popup">
        Flag appropriate
    </div>
</div>


<div class="content-area-main">

    <textarea class="textarea-main"></textarea>
    
    <div class="btn-row-main">

        <a href="#" class="cancle-btn" title="Cancel">Cancel</a>
        <a href="#" class="submit-btn" title="Submit">Submit</a>

    </div>

</div>