<div class="comman-margin-top comman-margin-main">
    
    <div class="comman-container">

        <div class="confirm-and-pay-main-box">

                <div class="left-col-main-pay">
                    <div class="back-arrow-main">
                        <button class="small-btn-main">
                                <img  src="../../../assets/images/back-arrow.svg" alt="back-arrow" title="back-arrow">
                        </button>
                    </div>


                    <!-- ----------------Bread-cumbs---------------- -->
                    <div class="breducumbs-main-div">
                        <div class="active-title comman-title">1. Change date or time</div>
                        <div class="greter-than-arrow">></div>
                        <div class="comman-title">2. Review reservation change</div>

                    </div>
                    


                    <div class="heading"> Change date or time of reservation</div>
                    <div class="sub-title-line">Price might vary depending on the date you select</div>

                    <!----------------------- choose------------------ -->
                    <div class="slots-main">
                            <div class="days-strips">
                                <div class="left-strips">
                                        <div class="date-main">Mon, Jan 25</div>
                                        <div class="time-main">7:00 PM − 8:00 PM (IST) · ₹799 per person</div>
                                </div>
                                <div class="right-strips">
                                    <div class="choose">Choose</div>
                                </div>

                            </div>
                            <div class="days-strips">
                                <div class="left-strips">
                                        <div class="date-main">Mon, Jan 25</div>
                                        <div class="time-main">7:00 PM − 8:00 PM (IST) · ₹799 per person</div>
                                </div>
                                <div class="right-strips">
                                    <div class="choose">Choose</div>
                                </div>

                            </div>

                    </div>

                    <!-- --------Second-Bredcumbs-data----------------- -->

                    <div class="heading"> Review reservation change</div>
                    <div class="sub-title-line">Check your new details, then you can confirm your reservation.</div>
                    <div class="labal-second-size">New booking details</div>
                    <div class="days-strips">
                        <div class="left-strips">
                                <div class="date-main">Mon, Jan 25</div>
                                <div class="time-main">7:00 PM − 8:00 PM (IST) · ₹799 per person</div>
                        </div>
                        <div class="right-strips">
                            <div class="choose">Change</div>
                        </div>
                    </div>
                    <div class="google-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.268210937516!2d72.66764831528938!3d23.013922322425667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e87b1bd6757e9%3A0x31ac7ab08d502576!2sPingDR!5e0!3m2!1sen!2sin!4v1615203324398!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="labal-second-size">Payment</div>
                    <div class="payments-row">
                        <span>Original reservation</span>
                        <span>₹803.47</span>
                    </div>
                    <div class="payments-row">
                        <span>New total</span>
                        <span>₹1,550.82</span>
                    </div>
                    <div class="payments-row">
                        <span>Additional Charge</span>
                        <span>₹1397.20</span>
                    </div>

                    <div class="labal-second-size terma-of-service">Terms of Service</div>
                    <p>By confirming this change, you agree to the  <span> Guest Release and Waiver</span>, the  <span> Cancellation Policy</span> , and the  <span>Guest Refund Policy</span> .</p>

                    <div class="confirm-pay-row">
                        <button class="confirm-to-pay"> ₹1,550.82 . Confirm & pay</button>
                        <a href="#" title="Cancel" >Cancel</a>

                    </div>

                  



                </div>


                <div class="right-col-main-pay">

                    <div class="main-yeallow-card-inner">
                            <div class="first-row">
                                <div class="left-col-main">
                                    <img src="../../../assets/images/chirs-iprani.png" alt="img" title="img">
                                </div>
                                <div class="right-col-main">
                                    <div class="events-name">Worlds Top Coffee Masterclass Single experience Hosted by Ricardo</div>
                                    <div class="online-title">Single experience Hosted by Ricardo</div>
                                </div>
                            </div>
                            <div class="second-row">
                                <div class="labal-first-size">Tue, Jan 26</div>
                                <div class="labal-second-size">1:30 AM − 2:30 AM (IST)</div>

                            </div>
                            <div class="third-row">
                                <div class="labal-first-size">Cancellation policy</div>
                                <p>Cancel within 24 hours of booking for a full refund under the <span>experiences cancellation policy </span>. Cancellations related to coronavirus (COVID-19) are addressed under our <span>extenuating circumstances policy </span>. For reservations made after 14 March, coronavirus (COVID-19) cancellations will not qualify as an extenuating circumstance. Please review official advisories and take the necessary precautions.</p>

                            </div>


                    </div>

                </div>



        </div>

    </div>




</div>


