<div class="comman-margin-top saved-main">
    <div class="comman-container">
            <!-- ----------Breadcumbs------------------------- -->
            <div class="breadcumbs-main">
                <div class="bredcumb-title">Account</div> 
                > 
                <div class="bredcumb-title second-margin-left">Notifications</div>
            </div>

            <!-- ---------Content-area---------------------- -->

            <div class="personal-info-main">

                <div class="left-col-info">
                    <div class="inner-wrapper-main">
                        <div class="heading-row-main">
                            <div class="left-heading">Notifications</div>
                            <!-- <div class="edit-btn"> <img src="../../../../assets/images/edit.svg" alt="edit" title="edit"></div> -->
                        </div>
                        <div class="comman-row-description">
                            <div class="comman-title-group">Message</div>
                            <p>Receive messages from hosts and guests, including booking requests.</p>
                        </div>
                        <!-- -------------Email-row------------------ -->
                        <div class="email-row-main">
                            <div class="left-text-main">Email</div>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <!-- --------------Text-messages----------------- -->
                        <div class="email-row-main">
                            <div class="left-text-main">Text Messages</div>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>

                          <!-- --------------Browser Notifications----------------- -->
                        <div class="email-row-main">
                            <div class="left-inner-text">
                                <div class="left-text-main">Browser notifications</div>
                                <p>Receive notifications outside of your browser on either desktop or mobile web</p>
                            </div>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>

                        <div class="comman-row-description">
                            <div class="comman-title-group">Reminders</div>
                            <p>Receive booking reminders, requests to write a review, pricing notices, and other reminders related to your activities on Twiwfy.</p>
                        </div>
                         <!-- -------------Email-row------------------ -->
                         <div class="email-row-main">
                            <div class="left-text-main">Email</div>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <!-- --------------Text-messages----------------- -->
                        <div class="email-row-main">
                            <div class="left-text-main">Text Messages</div>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>

                          <!-- --------------Browser Notifications----------------- -->
                        <div class="email-row-main">
                            <div class="left-inner-text">
                                <div class="left-text-main">Browser notifications</div>
                                <p>Receive notifications outside of your browser on either desktop or mobile web</p>
                            </div>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                       
                        <div class="comman-row-description">
                            <div class="comman-title-group">Promotions and tips</div>
                            <p>Receive coupons, promotions, surveys, product updates, and inspiration from Twiwfy and Twiwfy partners. </p>
                        </div>
                         <!-- -------------Email-row------------------ -->
                         <div class="email-row-main">
                            <div class="left-text-main">Email</div>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <!-- --------------Text-messages----------------- -->
                        <div class="email-row-main">
                            <div class="left-text-main">Text Messages</div>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <!-- --------------Phone-Calls----------------- -->
                        <div class="email-row-main">
                            <div class="left-text-main">Phone calls</div>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>

                          <!-- --------------Browser Notifications----------------- -->
                        <div class="email-row-main">
                            <div class="left-inner-text">
                                <div class="left-text-main">Browser notifications</div>
                                <p>Receive notifications outside of your browser on either desktop or mobile web</p>
                            </div>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="comman-row-description">
                            <div class="comman-title-group">Policy and community</div>
                            <p>Receive updates on home sharing regulations and stay informed about advocacy efforts to create fair, responsible home sharing laws in your community. </p>
                        </div>
                         <!-- -------------Email-row------------------ -->
                         <div class="email-row-main">
                            <div class="left-text-main">Email</div>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <!-- --------------Text-messages----------------- -->
                        <div class="email-row-main">
                            <div class="left-text-main">Text Messages</div>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <!-- --------------Phone-Calls----------------- -->
                        <div class="email-row-main">
                            <div class="left-text-main">Phone calls</div>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>

                          <!-- --------------Browser Notifications----------------- -->
                        <div class="email-row-main">
                            <div class="left-inner-text">
                                <div class="left-text-main">Browser notifications</div>
                                <p>Receive notifications outside of your browser on either desktop or mobile web</p>
                            </div>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="comman-row-description">
                            <div class="comman-title-group">Account support</div>
                            <p>Receive messages about your account, your trips, legal notifications, security and privacy matters, and customer support requests. For your security, you cannot disable email notifications and we may contact you by phone or other means if needed.</p>
                        </div>
                         <!-- -------------Email-row------------------ -->
                         <div class="email-row-main">
                            <div class="left-text-main">Email</div>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <!-- --------------Text-messages----------------- -->
                        <div class="email-row-main">
                            <div class="left-text-main">Text Messages</div>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <!-- --------------Phone-Calls----------------- -->
                        <div class="email-row-main">
                            <div class="left-text-main">Phone calls</div>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>

                          <!-- --------------Browser Notifications----------------- -->
                        <div class="email-row-main">
                            <div class="left-inner-text">
                                <div class="left-text-main">Browser notifications</div>
                                <p>Receive notifications outside of your browser on either desktop or mobile web</p>
                            </div>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>

                        <p class="to-manage-main">To manage your push notification settings, use the Twiwfy app.</p>

                        <!-- -------------Unscribe-from-all------------------- -->
                        <div class="unsubscribe-row-main">
                            <div class="left-col">Unsubscribe from all marketing emails</div>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>

                        <p class="to-manage-main">This includes recommendations, travel inspiration, deals, things to do in your home city, how Twiwfy works, invites and referrals, surveys and research studies, Twiwfy for Work updates, home hosting tips, experience hosting tips, and promotions.</p>

                     

                    </div>


                </div>

                <div class="right-col-info">
                        <div class="right-inner-wrapper">
                            <div class="inner-divs">
                                <img src="../../../../assets/images/chats-icon.svg" alt="lock" title="lock">
                                <div class="right-title">Where would you like to get text messages?</div>
                                <p>By ticking an SMS box, you agree to receive autodialled promotional texts from Twiwfy and Twiwfy's partners at:</p>
                                <div class="mobile-drop-down-main">
                                    <div class="form-title">Choose a phone number</div>
                                    <div class="btn-group" dropdown>
                                        <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                                aria-controls="dropdown-animated">
                                                +91 *** *** **91 <span class="caret"></span>
                                        </button>
                                        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                                            role="menu" aria-labelledby="button-animated">
                                            <li role="menuitem">
                                              <a class="dropdown-item" href="#">Demo one</a>
                                            </li>
                                            <li role="menuitem">
                                                <a class="dropdown-item" href="#">Demo two</a>
                                            </li>
                                            <li role="menuitem">
                                                <a class="dropdown-item" href="#">Demo three</a>
                                            </li>
                                          
                                        </ul>
                                    </div>

                                </div>
                                <p>For more info, text HELP to 247262. To cancel mobile notifications, reply STOP to 247262. Message and data rates may apply.</p>
                            </div>
                        </div>


                </div>


            </div>


    
    </div>


    
</div>


