<div class="header-for-modal-popup">
    <button (click)="onNoClick()"><img src="../../../assets/images/close-icon.svg" alt="close" title="close"></button>
    <span class="heading-text">Language and region</span>
</div>

<div class="suggested-lan-main">
    <div class="heading-text-content">Suggested languages and regions </div>
    
    <div class="main-language-grid-system">
        <div class="inner-grid-system active-grid">
            <img src="../../../assets/images/united-kingdom.svg" alt="UK" title="UK" />
            <div class="right-col">
                <div class="grey-text">English</div>
                <div class="country-text">United Kingdom</div>
            </div>

        </div>
        <div class="inner-grid-system">
            <img src="../../../assets/images/USA.svg" alt="Usa" title="Usa" />
            <div class="right-col">
                <div class="grey-text">English</div>
                <div class="country-text">United States</div>
            </div>
        </div>
        <div class="inner-grid-system">
            <img src="../../../assets/images/india.svg" alt="india" title="india" />
            <div class="right-col">
                <div class="grey-text">Hindi</div>
                <div class="country-text">India</div>
            </div>
        </div>

    </div>

</div>

<div class="suggested-lan-main">
    <div class="heading-text-content">Choose a language and region</div>
    
    <div class="main-language-grid-system second-grid-sys-main">
        <div class="inner-grid-system active-grid">
            <img src="../../../assets/images/india.svg" alt="india" title="india" />
            <div class="right-col">
                <div class="grey-text">English</div>
                <div class="country-text">India</div>
            </div>

        </div>
        <div class="inner-grid-system">
            <img src="../../../assets/images/azarbaucan.svg" alt="Azərbaycan" title="Azərbaycan" />
            <div class="right-col">
                <div class="grey-text">Azərbaycan dili</div>
                <div class="country-text">Azərbaycan</div>
            </div>
        </div>
        <div class="inner-grid-system">
            <img src="../../../assets/images/indonesia.svg" alt="indonesia" title="indonesia" />
            <div class="right-col">
                <div class="grey-text">Bahasa Indonesia</div>
                <div class="country-text">Indonesia</div>
            </div>
        </div>
        <div class="inner-grid-system">
            <img src="../../../assets/images/india.svg" alt="india" title="india" />
            <div class="right-col">
                <div class="grey-text">Bosanski</div>
                <div class="country-text">Bosna i Hercegovina</div>
            </div>
        </div>
        <div class="inner-grid-system">
            <img src="../../../assets/images/india.svg" alt="india" title="india" />
            <div class="right-col">
                <div class="grey-text">Català</div>
                <div class="country-text">Espanya</div>
            </div>
        </div>
        <div class="inner-grid-system">
            <img src="../../../assets/images/india.svg" alt="india" title="india" />
            <div class="right-col">
                <div class="grey-text">Čeština</div>
                <div class="country-text">Česká republika</div>
            </div>
        </div>
        <div class="inner-grid-system">
            <img src="../../../assets/images/india.svg" alt="india" title="india" />
            <div class="right-col">
                <div class="grey-text">Crnogorski</div>
                <div class="country-text">Crna Gora</div>
            </div>
        </div>
        <div class="inner-grid-system">
            <img src="../../../assets/images/denmark.svg" alt="india" title="india" />
            <div class="right-col">
                <div class="grey-text">Dansk</div>
                <div class="country-text">Danmark</div>
            </div>
        </div>
        <div class="inner-grid-system">
            <img src="../../../assets/images/germany.svg" alt="germany" title="germany" />
            <div class="right-col">
                <div class="grey-text">Deutsch</div>
                <div class="country-text">Deutschland</div>
            </div>
        </div>
        <div class="inner-grid-system">
            <img src="../../../assets/images/india.svg" alt="india" title="india" />
            <div class="right-col">
                <div class="grey-text">Deutsch</div>
                <div class="country-text">Česká republika</div>
            </div>
        </div>
        <div class="inner-grid-system">
            <img src="../../../assets/images/switzerland.svg" alt="switzerland" title="switzerland" />
            <div class="right-col">
                <div class="grey-text">Deutsch</div>
                <div class="country-text">Schweiz</div>
            </div>
        </div>
        <div class="inner-grid-system">
            <img src="../../../assets/images/india.svg" alt="india" title="india" />
            <div class="right-col">
                <div class="grey-text">Eesti</div>
                <div class="country-text">Eesti</div>
            </div>
        </div>
        <div class="inner-grid-system">
            <img src="../../../assets/images/australia-1.svg" alt="Australia" title="Australia" />
            <div class="right-col">
                <div class="grey-text">English</div>
                <div class="country-text">Australia</div>
            </div>
        </div>
        <div class="inner-grid-system">
            <img src="../../../assets/images/canada1.svg" alt="india" title="india" />
            <div class="right-col">
                <div class="grey-text">English</div>
                <div class="country-text">Canada</div>
            </div>
        </div>
        <div class="inner-grid-system">
            <img src="../../../assets/images/france1.svg" alt="france" title="france" />
            <div class="right-col">
                <div class="grey-text">France</div>
                <div class="country-text">Français</div>
            </div>
        </div>
        <div class="inner-grid-system">
            <img src="../../../assets/images/ireland1.svg" alt="india" title="india" />
            <div class="right-col">
                <div class="grey-text">English</div>
                <div class="country-text">Ireland</div>
            </div>
        </div>
        <div class="inner-grid-system">
            <img src="../../../assets/images/new-zealand-1.svg" alt="new Zealand" title="New Zealand" />
            <div class="right-col">
                <div class="grey-text">English</div>
                <div class="country-text">New Zealand</div>
            </div>
        </div>
        <div class="inner-grid-system">
            <img src="../../../assets/images/singapore1.svg" alt="Singapore" title="Singapore" />
            <div class="right-col">
                <div class="grey-text">English</div>
                <div class="country-text">Singapore</div>
            </div>
        </div>
        <div class="inner-grid-system">
            <img src="../../../assets/images/united-arab-emirates1.svg" alt="united-arab-emirates1" title="united-arab-emirates1" />
            <div class="right-col">
                <div class="grey-text">English</div>
                <div class="country-text">United Arab Emirates</div>
            </div>
        </div>
        <div class="inner-grid-system">
            <img src="../../../assets/images/argentina1.svg" alt="argentina" title="argentina" />
            <div class="right-col">
                <div class="grey-text">Español</div>
                <div class="country-text">Argentina</div>
            </div>
        </div>

    </div>

</div>


