<div class="comman-margin-top saved-main">
    <div class="comman-container">
            <!-- ----------Breadcumbs------------------------- -->
            <div class="breadcumbs-main">
                <div class="bredcumb-title">Account</div> 
                > 
                <div class="bredcumb-title second-margin-left">Global Preferences</div>
            </div>

            <!-- ---------Content-area---------------------- -->

            <div class="personal-info-main">

                <div class="left-col-info">
                    <div class="inner-wrapper-main">
                        <div class="heading-row-main">
                            <div class="left-heading">Global Preferences</div>
                            <div class="edit-btn"> <img src="../../../../assets/images/edit.svg" alt="edit" title="edit"></div>
                        </div>
                        <div class="form-title">Preferred language</div>
                        <div class="password-row-main">
                            <div class="left-input">
                                    <input type="text" value="English" >
                            </div>
                        </div>
                        <div class="form-title">Preferred currency</div>
                        <div class="password-row-main">
                            <div class="left-input">
                                    <input type="text" value="Indian rupee" >
                            </div>
                        </div>
                        <div class="form-title">Time Zone</div>
                        <div class="password-row-main">
                            <div class="left-input">
                                    <input type="text" value="Indian" >
                            </div>
                        </div>
                    </div>


                </div>

                <div class="right-col-info">
                        <div class="right-inner-wrapper">
                            <div class="inner-divs">
                                <img src="../../../../assets/images/global-new.svg" alt="lock" title="lock">
                                <div class="right-title">Your Global Preferences</div>
                                <p>Changing your currency updates how you see prices. You can change how you get payments in your payments & payouts preferences.</p>
                            </div>
                        </div>


                </div>


            </div>


    
    </div>


    
</div>


