<div class="custom-row">

    <div class="left-col">
            <div class="first-row-img">
                <img class="participation-1" src="../../../../../../../assets/images/girl-hand-wash.png" alt="particip" title="particip">
            </div>   

    </div>
    <div class="right-col">
        <div class="heading">Practise good hygiene</div>
        <p>While hosting, wear a protective face covering, 
            and wash your hands regularly.</p>
        <ul class="custom-ul">
            <li> All hosts and guests of experiences must wear facial
                coverings. Check your relevant regulatory authority
                for guidance on specific rules in your region.</li>
            <li>Wash your hands before, during and after your 
                experience. Scrub for at least 20 seconds with
                 warm soap and water.</li>
            <li>Bring hand sanitiser for yourself and your guests.</li>    
        </ul>

       

    </div>

</div>
<!-- <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
<div class="next-back-row-main">
    <div class="left-text">
        11 items to submit
    </div>
    <div class="button-row">
        <button class="btn-back" (click)="next(28)" matRipple>Back</button>
        <button class="btn-next" (click)="next(30)" matRipple>Next</button>

    </div>

</div> -->