<footer class="main-footer-section">
  <div class="custom-container inner-wrapper-main">
    <div class="first-row">
      <div class="logo-section">
        <h2>Twiwfy</h2>
      </div>
      <div class="second-row">
        <div class="comman-col first-col">
          <p>
            Lorem Ipsum has been the industry's <br />
            standard dummy text since the text <br />
            since the 1500s
          </p>
          <span class="copyright">All Rights Reserved © twiwfy.com</span>
        </div>
        <div class="comman-col second-col">
          <span class="label-text">About</span>
          <a href="#" title="How TWIWFY Works">How TWIWFY Works</a>
          <a href="#" title="Newsroom">Newsroom</a>
          <a href="#" title="Investors">Investors</a>
          <a href="#" title="TWIWFY Luxe">TWIWFY Luxe</a>
          <a href="#" title="TWIWFY for Work">TWIWFY for Work</a>
          <a href="#" title="Olympics">Olympics</a>
        </div>
        <div class="comman-col third-col">
          <span class="label-text">Community</span>
          <a href="#" title="Diversity & Belonging">Diversity & Belonging</a>
          <a href="#" title="Accessibility">Accessibility</a>
          <a href="#" title="TWIWFY Associates">TWIWFY Associates</a>
          <a href="#" title="Frontline Stays ">Frontline Stays </a>
          <a href="#" title="Invite Friends">Invite Friends</a>
        </div>
        <div class="comman-col fourth-col">
          <span class="label-text">Host</span>
          <a href="#" title="Host your home">Host your home</a>
          <a href="#" title="Host an Online Experience"
            >Host an Online Experience</a
          >
          <a href="#" title="Host an Experience">Host an Experience</a>
          <a href="#" title="Responsible hosting">Responsible hosting</a>
          <a href="#" title="Resource Center">Resource Center</a>
          <a href="#" title="Community Center">Community Center</a>
        </div>
        <div class="comman-col fifth-col">
          <span class="label-text">Support</span>

          <a href="#" title="Our COVID-19 Response">Our COVID-19 Response</a>
          <a href="#" title="Help Center">Help Center</a>
          <a href="#" title="Cancellation options">Cancellation options</a>
          <a href="#" title="Trust & Safety">Trust & Safety</a>
        </div>
      </div>
      <div class="third-row">
        <div class="inner-third-wraper">
          <div class="btn-group" dropdown [dropup]="isDropup">
            <button
              id="button-dropup"
              dropdownToggle
              type="button"
              class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-dropup"
            >
              English <span class="caret"></span>
            </button>
            <ul
              id="dropdown-dropup"
              *dropdownMenu
              class="dropdown-menu"
              role="menu"
              aria-labelledby="button-dropup"
            >
              <li role="menuitem">
                <a class="dropdown-item" href="#">Action</a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item" href="#">Another action</a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </div>
          <div class="centered-links">
            <a href="#" title="Term of Service">Term of Service</a>
            <a href="#" title="Privacy Policy">Privacy Policy</a>
            <a href="#" title="Security">Security</a>
            <a href="#" title="Status">Status</a>
          </div>
          <div class="social-media">
            <a href="#" title="twitter">
              <img
                src="../../../../assets/images/twitter.svg"
                title="twitter"
                alt="twitter"
              />
            </a>
            <a href="#" title="facebook">
              <img
                src="../../../../assets/images/facebook.svg"
                title="facebook"
                alt="facebook"
              />
            </a>
            <a href="#" title="instagram">
              <img
                src="../../../../assets/images/instagram.svg"
                title="instagram"
                alt="instagram"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
