<div class="custom-row">

    <div class="left-col">
            <div class="first-row-img">
                <img class="participation-1" src="../../../../../../../assets/images/avoid-physical-img.png" alt="particip" title="particip">
            </div>   

    </div>
    <div class="right-col">
        <div class="heading">Avoid physical contact</div>
        <p>Adhere to social distancing guidelines, and avoid direct physical 
            contact with guests.</p>
        <ul class="custom-ul">
            <li> Maintain distance from your guests and encourage them to 
                maintain distance from one another. Refer to your relevant 
                regulatory authority for guidance e.g. 6ft (2m) in the US.</li>
            <li>If your experience is indoors, limit your capacity to ensure
                guests can keep distance from one another.</li>
            <li>Avoid direct contact with guests and encourage guests to
                avoid it as well. Instead of handshakes or hugging, choose
                an alternative no-contact greeting.</li>    
        </ul>

       

    </div>

</div>
<!-- <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
<div class="next-back-row-main">
    <div class="left-text">
        11 items to submit
    </div>
    <div class="button-row">
        <button class="btn-back" (click)="next(29)" matRipple>Back</button>
        <button class="btn-next" (click)="next(31)" matRipple>Next</button>

    </div>

</div> -->