<div class="heading-row">
    <button class="close-btn" (click)="onNoClick()"><img src="../../../../assets/images/close-icon.svg" alt="close" title="close"/></button>
    <div class="heading">Want to add more guests to the experience?</div>
    
</div>


<div class="content-area-main">
        <p>You've already booked this experience, but you can <br> always add friends to join you.</p>

        <div class="add-guest-row-main">
            <a href="#" title="Go back" class="go-back">Go back</a>
            <a href="#" title="Add guests" class="add-guests">Add guests</a>

        </div>

</div>
