// ----Media query mixin-----------//
@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
        @content;
    }
}

@mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
        @content;
    }
}

// ----------------------------For Orientation-----------------------//
@mixin landscape-orientation($max-screen-size,
    $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
        @content;
    }
}

@mixin btw-mq($min-screen-size,
    $max-screen-size,
    $pixel-ratio,
    $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
        @content;
    }
}

// ------------END of Media Screen Mixing--------------//

.heading {
    font-size      : 28px;
    text-decoration: none;
    line-height    : 40px;
    margin-bottom  : 15px;

    @include max-mq(1660) {
        font-size      : 23px;
        text-decoration: none;
        line-height    : 33px;
    }

    @include max-mq(1500) {
        font-size: 22px;
    }
    @include max-mq(1100){
        font-size: 18px;
    }
}

p {
    color      : #878787;
    font-size  : 15px;
    line-height: 23px;
}

.error-block{
    .text-danger{
        font-weight: 400;
        font-size: 15px;
    }
}

.small-heading {
    margin-bottom: 20px;
    font-size    : 20px;
    line-height  : 25px;
    font-weight  : 500;
}

.outline-red {
    border: 2px solid red !important;
}

.main-container-area {
    display      : flex;
    margin-bottom: 140px;
    @include max-mq(1100){
        margin-bottom: 40px;
    }
    @include max-mq(991){
        flex-direction: column;
    }
    .left-wrapper {
        width: 72%;

        @include max-mq(1660) {
            width: 65%;
        }
        @include max-mq(567){
            width: 100%;
            margin-bottom:30px;
        }

        .inner-width-wrapper {
            width : 600px;
            margin: auto;

            @include max-mq(1660) {
                width        : 100%;
                padding-right: 40px;
            }
            @include max-mq(567){
                padding-right: 0px;
            }

            p {
                font-size  : 16px;
                line-height: 26px;
                color      : #8c8c8c;

                @include max-mq(1660) {
                    font-size  : 14px;
                    line-height: 24px;
                }
                @include max-mq(1100){
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
    }

    .right-wrapper {
        width        : 28%;
        background   : #F9F9F9;
        border-radius: 5px;
        padding      : 20px 10px;

        @include max-mq(1660) {
            width: 35%;
        }
        @include max-mq(991){
            width: 100%;
            margin-top: 30px;
        }
        @include max-mq(567){
            width: 100%;
        }
    }

    .display-placeholder-image {
        width: 100%;
        height: 100%;
        border: 1px solid #ccc;
        border-radius: 20px;
        object-fit: cover;
    }

    .skeleton-loader {
        position: absolute;
        top     : -6px;
        left: -111px;
    }
}



.small-heading-1 {
    @include max-mq(1100){
        font-size: 15px;
    }
}






.do-main {
    background   : #fff;
    padding      : 14px 15px;
    margin-bottom: 20px;
    border       : 1px solid #F1F1F1;
    box-sizing   : border-box;
    box-shadow   : 0px 6px 2px rgb(0 0 0 / 4%);
    border-radius: 8px;

    ul.say-yes {
        padding-left : 20px;
        font-size    : 13px;
        margin-bottom: 10px;
        position     : relative;

        li {
            position     : relative;
            padding-left : 11px;
            font-size    : 12px;
            margin-bottom: 10px;
            color        : #8c8c8c;

            &::before {
                position           : absolute;
                content            : '';
                background         : rgba(113, 113, 113, 0.2) url(../../../../../../../assets/images/check-mark.svg)no-repeat;
                background-size    : 8px;
                width              : 20px;
                height             : 20px;
                border-radius      : 100%;
                left               : -18px;
                background-position: center;
            }
        }

    }

    ul.say-no {
        padding-left : 20px;
        font-size    : 13px;
        margin-bottom: 10px;
        position     : relative;

        li {
            position     : relative;
            padding-left : 11px;
            font-size    : 12px;
            margin-bottom: 10px;
            color        : #8c8c8c;

            &::before {
                position     : absolute;
                content      : 'X';
                background   : rgba(113, 113, 113, 0.2);
                width        : 20px;
                height       : 20px;
                border-radius: 100%;
                left         : -18px;
                text-align   : center;
                font-size    : 8px;
                line-height  : 20px;
                font-weight  : 500;
                color        : #111;
            }
        }

    }
}


.small-slider-main {
    background   : #fff;
    padding      : 14px 15px;
    font-size    : 12px;
    box-shadow   : 0px 6px 2px rgb(0 0 0 / 4%);
    border-radius: 8px;

    p {
        font-size: 12px;
    }
}


.add-title {
    width          : 100%;
    border         : 1px solid #e8e8e8;
    padding        : 18px 30px;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    margin-top     : 20px;
    border-radius  : 5px;
    font-size      : 15px;
    color          : #8C8C8C;
}

span.txt {
    color    : #8C8C8C;
    font-size: 15px;
}

.del {
    cursor: pointer;
}

span.txt-add {
    color      : #111;
    font-size  : 15px;
    font-weight: 500;
}

.add-icon {
    display      : block;
    padding      : 10px;
    background   : #F1F1F1;
    border       : 1px solid #D1D1D1;
    border-radius: 100%;
    cursor       : pointer;

}

.title-filed {
    input {
        width        : 100%;
        border       : 1px solid #C4C4C4;
        box-shadow   : 0px 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 5px;
        padding      : 15px 40px;
        padding-right: 100px;
        margin-top   : 20px;
        outline      : none;
        font-size    : 14px;
    }
}

.img-div-main {
    position: relative;

    &::before {
        position     : absolute;
        content      : '';
        background   : linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        border-radius: 0px 0px 8px 8px;
        top          : 0;
        bottom       : 0;
        left         : 0;
        right        : 0;
    }

    img {
        border-radius: 10px !important;
    }

    span.img-over {
        position   : absolute;
        bottom     : 29px;
        left       : 20px;
        z-index    : 999;
        color      : #fff;
        font-size  : 14px;
        line-height: 22px;
    }
}

.place-holder-img {
    position       : relative;
    width          : 200px;
    height         : 200px;
    background     : rgba(241, 241, 241, 0.5);
    border         : 1px solid #D1D1D1;
    box-sizing     : border-box;
    border-radius  : 20px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    // @include max-mq(1100){
    //     width: 150px;
    //     height: 150px;
    // }
    img {
        cursor: pointer;
    }
    img.close-btn {
        position: absolute;
        right: 8px;
        top: 7px;
        background: #ffffff;
        width: 22px;
        height: 22px;
        border-radius: 100%;
        padding: 6px;
        cursor: pointer;
        box-shadow: 0px 0px 10px #b7b7b7;
        z-index: 100;
    }
}


.placeholder {
    z-index: 99;
    @include max-mq(1100){
        width: 25px;
    }
}

.placeholder-load {
    opacity: 0.5;
}

.grid-system-main {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap      : 30px;
    grid-row-gap         : 30px;
    margin-top           : 40px;
    @include max-mq(1100){
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            margin-top: 30px;
    }
    @include max-mq(567){
        grid-template-columns: repeat(1, 1fr);
    }

    .inner-grid-main {
        .place-holder-img {
            width : 180px;
            height: 180px;
            // ngx-skeleton-loader  span {
            //     width : 180px !important;
            //     height: 180px !important;
            // }
            // @include max-mq(1550) {
            //     height: 150px;
            //     width: 150px;
            //     // ngx-skeleton-loader  span {
            //     //     width : 150px !important;
            //     //     height: 150px !important;
            //     // }
            // }
        }

        .title-img {
            font-size  : 14px;
            line-height: 24px;
            margin-top : 10px;
        }
    }
}

.small-loader {
    left: -101px !important;
}