@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
    @content;
    }
    }
    
    @mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
    @content;
    }
    }
    
    // ----------------------------For Orientation-----------------------//
    @mixin landscape-orientation($max-screen-size,
    $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
    @content;
    }
    }
    
    @mixin btw-mq($min-screen-size,
    $max-screen-size,
    $pixel-ratio,
    $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
    @content;
    }
    }    
// ------------END of Media Screen Mixing--------------//

// ------------END of Media Screen Mixing--------------//

.heading {
    font-size: 28px;
    text-decoration: none;
    @include max-mq(1600){
        font-size: 25px;
    }
    @include max-mq(1400){
        font-size: 22px;
        margin-bottom: 20px;
    }
    @include max-mq(567){
        font-size: 18px;
        margin-bottom: 15px;
    }
}
p{
    font-size: 16px;
    line-height: 26px;
    color: #9C9C9C;
    @include max-mq(1400){
        font-size: 13px;
        line-height: 24px;
    }
    @include max-mq(567){
        font-size: 12px;
        line-height: 21px;
    }
}   

.custom-ul{
    li{
        padding-left: 20px;
        margin-bottom: 15px;
        font-size: 14px;
        color: #878787;
        position: relative;
        @include max-mq(567){
            padding-left: 18px;
            margin-bottom: 10px;
            font-size: 12px;
        }
        span {
            font-size: 14px;
            color: #000;
            font-weight: 500;
        }
        &::before{
            position: absolute;
            content: '';
            background: #000;
            width: 8px;
            height: 8px;
            left: 0;
            top: 7px;
            border-radius: 100%;
        }
    }
}

.custom-row{

    @include max-mq(1350){
        height: auto;
    }
}

.custom-row {
    display: flex;
    margin-bottom: 0px;
    overflow-y: auto;
    @include max-mq(1350){
        margin-bottom: 30px;
        flex-direction: column;
    }
    .left-col {
        width: 35%;
        @include max-mq(1350){
            width: 100%;
            margin-bottom: 25px;
            display: flex;
        }
        
    }
    .right-col{
        width: 65%;
        padding-left: 50px;
        @include max-mq(1660){
            padding-left: 40px;
        }
        @include max-mq(1350){
            padding-left: 0px;
            width: 100%;
        }
        
    }
}


.first-row-img{
    .bubble-main-pink {
        width: 100%;
        height: 134px;
        background: #FFB5B5;
        border-radius: 220px 220px 0px 0px;
        margin-bottom: 5px;
        @include max-mq(1500){
            height: 104px;
            border-radius: 100px 100px 0px 0px;

        }
        @include max-mq(567){
            height: 70px;
            border-radius: 60px 60px 0px 0px;
        }
    }
    .participation-1 {
        width: 100%;
        border-radius: 0px 0px 0px 150px;
        @include max-mq(1500){
            border-radius: 0px 0px 0px 100px;
        }
        @include max-mq(567){
            border-radius: 0px 0px 0px 60px;
        }
    }
}