
<div class="custom-row">

    <div class="left-col">
            <div class="first-row-img">
                <div class="bubble-main-pink"></div>
                <img class="participation-1" src="../../../../../../../assets/images/Easy-to-do.png" alt="particip" title="particip">
            </div>   

    </div>
    <div class="right-col">
        <div class="heading">Easy to Do </div>
        <p>We’re looking for experiences that don’t require difficult
            preparation or special materials, and can be enjoyed
            by the whole family. </p>
        <p>For example:</p>
        <ul class="custom-ul">
            <li> A cooking class using simple ingredients </li>
            <li>A craft activity using household materials</li>
            <li>Questions, games, and interesting conversation</li>
        </ul>
        <p style="margin-top:50px">Guests should feel immersed in the experience the entire time,
            like they’re an active part of it.</p>
       

    </div>

</div>
<!-- <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
<div class="next-back-row-main">
    <div class="left-text">
        17 items to submit
    </div>
    <div class="button-row">
        <button class="btn-back" (click)="next(6)" matRipple>Back</button>
        <button class="btn-next" (click)="next(8)" matRipple>Next</button>

    </div>

</div> -->
