
<div class="heading-row-main">
    <button class="close-btn" (click)="Close()"><img src="../../../../assets/images/close-icon.svg" alt="close" title="close"/></button>
    <div class="small-heading">Link a bank account</div>
</div>


<div class="content-area-main">
    <p>You'll need to link and conﬁrm your bank account before you can receive payments with TWIWFY.</p>

    <div class="form-filed">
        <div class="comman-heading">Account Name</div>
        <input type="text">
    </div>
    <div class="form-filed">
        <div class="comman-heading">Account Number</div>
        <input type="text">
    </div>
    <div class="form-filed">
        <div class="comman-heading">Confirm Account Number</div>
        <input type="text">
    </div>
    <div class="form-filed">
        <div class="comman-heading">IFSC Code</div>
        <input type="text">
    </div>
    <div class="form-filed">
        <div class="comman-heading">Mobile Number (attached to bank)</div>
        <input type="text">
    </div>
    <div class="btn-row">
        <a href="#" title="cancel" class="cancel">Cancel</a>
        <a href="#" title="Done" class="done"> 
            <img src="../../../../assets/images/white-lock.svg" alt="img" title="img">
            Done
        </a>
        
    </div>
    

</div>



