<div class="row margin-bottom first-row-main">
    <div class="col-12 col-sm-5 col-md-5 left-col-main">
        <div class="img-row">
            <img class="first-img" src="../../../../../../../assets/images/overview-1.png" alt="overview"
                title="overview">
            <img class="second-img" src="../../../../../../../assets/images/overview-2.png" alt="overview"
                title="overview">
        </div>
    </div>
    <div class="col-12 col-sm-7 col-md-7 right-col-main">
        <div class="heading">What we’re looking for</div>
        <p>We’re looking for hosts who can bring the magic of TWIWFY
            Experiences online, and can meet these requirements:</p>
        <ul class="custom-ul">
            <li> <span>Expertise:</span> Exceptional skill, ability, or background</li>
            <li> <span>Participation:</span> Engaging activities that leap off the screen</li>
            <li> <span>Easy to Do:</span> Requires minimal supplies and preparation</li>
            <li> <span>Technical Quality: </span> Comfort with the Zoom platform and
                audio/video setup</li>
        </ul>
        <p>Let’s go over them together in more detail.</p>
    </div>



</div>
<!-- <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
<div class="next-back-row-main">
    <div class="left-text">
        19 items to submit
    </div>
    <div class="button-row">
        <button class="btn-back" (click)="next(3)" matRipple>Back</button>
        <button class="btn-next" (click)="next(5)" matRipple>Next</button>

    </div>

</div> -->