<div class="comman-margin-top saved-main">
    <div class="comman-container">
            <!-- ----------Breadcumbs------------------------- -->
            <div class="breadcumbs-main">
                <div class="bredcumb-title">Account</div> 
                > 
                <div class="bredcumb-title second-margin-left">Invite Friends</div>
            </div>

            <!-- ---------Content-area---------------------- -->

            <div class="personal-info-main">

                <div class="left-col-info">
                    <div class="inner-wrapper-main">
                        <div class="heading-row-main">
                            <div class="left-heading">Invite friends to join the Twiffy community</div>
                            <div class="edit-btn"> <img src="../../../../assets/images/edit.svg" alt="edit" title="edit"></div>
                        </div>
                        <!-- ------Friends-who-are---------------- -->
                        <div class="section-description">
                            Friends who are new to Twiwfy will get up to ₹5,000 off their first qualifying booking. 
                            <span class="read-the-terms"> Read the terms</span>
                        </div>

                        <div class="link-clone-row">
                            <div class="input-filed">
                                <input type="text" placeholder="https://www.twiffy.co.in/c/abc" />
                            </div>
                            <div class="center-btn-col">
                                <img src="../../../../assets/images/clone-icon.svg" alt="clone" title="clone">
                            </div>
                            <div class="invite-friend-btn">
                                <button class="custom-btn">Invite Friends</button>
                            </div>
                        </div>

                        <!-- ---------Share-twiffy-with-friends------------------>
                        <div class="share-with-friends-main-row">
                            <div class="form-title">Share Twiffy with friends</div>
                            <div class="short-description">Email Who've never tried Twiwfy, and we'll send them a reminder, too</div>

                            <div class="send-enquirey-row">
                                <div class="left-col-input"> 
                                    <input type="text" placeholder="Enter email address">
                                    <span class="enter-one">Enter one email at a time</span>
                                </div>
                                <div class="right-col-btn">
                                    <button class="custom-btn">Send</button>
                                </div>
                            </div>  

 
                        </div>


                    </div>
                </div>

                <div class="right-col-info">
                        <div class="right-inner-wrapper">
                            <div class="inner-divs">
                                <img src="../../../../assets/images/invite-friend.svg" alt="lock" title="lock">
                                <div class="right-title">Track your referrals</div>
                                <div class="completed-reff">
                                    <div class="comman-title">Completed referrals</div>
                                    <div class="count-num">0</div>
                                </div>
                                <div class="completed-reff">
                                    <div class="comman-title">Signups</div>
                                    <div class="count-num">0</div>
                                </div>
                                <div class="show-more-details-btn">
                                    <button class="custom-btn">Show more details</button>
                                </div>

                            </div>
                        </div>
                </div>

            </div>

            <!-- --------------How-referrals-work----------------- -->

            <div class="new-sections-main">
                <div class="first-row-main">
                    <div class="small-heading">How referrals work</div> 
                    <!-- -----Invite-friend-grid-main--------------- -->
                    <div class="grid-main-invite">
                        <div class="inner-grid">
                            <img src="../../../../assets/images/mail-icon.svg" alt="mail" title="mail">
                            <div class="invite-title">Invite friends who are new to Twiwfy</div>
                            <p>invite people who don’t have an Twiwfy account yet to sign up through your link.</p>
                        </div>
                        <div class="inner-grid">
                            <img src="../../../../assets/images/discount.svg" alt="discount" title="discount">
                            <div class="invite-title">They get a discount</div>
                            <p>Friends who sign up for Twiwfy with your link will get up to ₹4,000 off a stay and ₹1,000 towards an Twiwfy Experience of ₹4,000 or more.</p>
                        </div>
                        <div class="inner-grid">
                            <img src="../../../../assets/images/reminder.svg" alt="reminder" title="reminder">
                            <div class="invite-title">Remind your friends to book</div>
                            <p>Once they sign up, they'll be able to use their coupon on a qualifying booking.</p>
                        </div>
                    </div>
                </div>
                <div class="second-row-main">
                    <div class="small-heading">Common questions</div> 
                    <div class="short-description">Check out these answers to common questions and review other programme information in the 
                        <span class="link-text">Help Centre.</span>
                    </div>

                    <!-- ---------------------------accordian-list-main------------------------- -->
                    <div class="accordian-grid-main-invite-friend">
                            <div class="inner-grid">
                                <mat-accordion>
                                    <mat-expansion-panel>
                                      <mat-expansion-panel-header>
                                        <mat-panel-title>
                                        How much will my friend get when I invite them?
                                        </mat-panel-title> 
                                      </mat-expansion-panel-header>
                                      <div class="content-area-main">
                                        <p>When the friend you've invited to Twiwfy signs up and books a trip, how much they’ll get depends on the price of their reservation excluding taxes and guest fees:</p>

                                          <p>Spend ₹24,000, get ₹1,200 <br>
                                            Spend ₹40,000, get ₹2,000 <br>
                                            Spend ₹56,000, get ₹2,800<br>
                                            Spend ₹80,000 or more, get ₹4,000<br>
                                        </p>
                                        <p>Plus, they’ll get ₹1,000 off when they book their first experience of ₹4,000 or more.</p>
                                      </div>
                                    </mat-expansion-panel>
                                  </mat-accordion>
                            </div>
                            <div class="inner-grid">
                                <mat-accordion>
                                    <mat-expansion-panel>
                                      <mat-expansion-panel-header>
                                        <mat-panel-title>
                                        My friend has invited me to Twiwfy but I haven't received a coupon.
                                        </mat-panel-title> 
                                      </mat-expansion-panel-header>
                                      <div class="content-area-main">
                                        <p>I'm visible because I am open</p>
                                      </div>
                                    </mat-expansion-panel>
                                  </mat-accordion>
                            </div>
                            <div class="inner-grid">
                                <mat-accordion>
                                    <mat-expansion-panel>
                                      <mat-expansion-panel-header>
                                        <mat-panel-title>
                                        I've referred a friend but haven't received travel credit
                                        </mat-panel-title> 
                                      </mat-expansion-panel-header>
                                      <div class="content-area-main">
                                        <p>I'm visible because I am open</p>
                                      </div>
                                    </mat-expansion-panel>
                                  </mat-accordion>
                            </div>  


                    </div>


                </div>



            </div>



    </div>
   
</div>


