
<div class="custom-row">

    <div class="left-col">
            <div class="first-row-img">
                <img class="participation-1" src="../../../../../../../assets/images/Employe-clanning.png" alt="particip" title="particip">
            </div>   

    </div>
    <div class="right-col">
        <div class="heading">Get to know the safety and <br/> cleaning guidelines</div>
        <p>TWIWFY has partnered with experts to create new safety guidelines
            for person-to-person interaction during experiences.
            It’s important that all hosts understand the key elements:</p>
        <ul class="custom-ul">
            <li> Practise good hygiene</li>
            <li>Avoid physical contact</li>
            <li>Make location adjustments</li>
            <li>Follow cleaning protocols</li>
        </ul>
        <p style="margin-top:50px">Let’s go over them together in more detail.</p>
       

    </div>

</div>
<!-- <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
<div class="next-back-row-main">
    <div class="left-text">
        11 items to submit
    </div>
    <div class="button-row">
        <button class="btn-back" (click)="next(25)" matRipple>Back</button>
        <button class="btn-next" (click)="next(29)" matRipple>Next</button>

    </div>

</div> -->