
<div class="heading-row-main">
    <button class="close-btn" (click)="Close()"><img src="../../../../assets/images/close-icon.svg" alt="close" title="close"/></button>
    <div class="small-heading">Link a bank account</div>
</div>


<div class="content-area-main">
    <p>If you are registered with the European Commission, verification may take up to 48 hours. We’ll send you an email when it’s finished. More information on VAT IDs can be found here.</p>

    <div class="form-filed">
        <div class="comman-heading">Registered Business Name</div>
        <input type="text">
    </div>
    <div class="form-filed">
        <div class="comman-heading">GST Number</div>
        <input type="text">
    </div>
    <div class="form-filed">
        <div class="comman-heading">VAT ID number</div>
        <input type="text">
    </div>
    <div class="form-filed">
        <div class="comman-heading">Business address</div>
        <input type="text">
    </div>

    <div class="form-filed">
        <div class="comman-heading">Upload legal document (Business proof)</div>
        <div class="upload-information">
            <div class="img-inner-wrap">
                <img src="../../../../assets/images/img-upload.svg" alt="upload" title="img">
                <span>Maximum size 5MB</span>
                <div class="browse-btn-main">
                    <input type="file">
                    Browse
                </div>
            </div>
        </div>
    </div>
    <div class="form-filed">
        <div class="comman-heading">Company certificate</div>
        <div class="upload-information">
            <div class="img-inner-wrap">
                <img src="../../../../assets/images/img-upload.svg" alt="upload" title="img">
                <span>Maximum size 5MB</span>
                <div class="browse-btn-main">
                    <input type="file">
                    Browse
                </div>
            </div>
        </div>
    </div>
    


    <div class="btn-row">
        <a href="#" title="cancel" class="cancel">Cancel</a>
        <a href="#" title="Done" class="done"> 
            <img src="../../../../assets/images/white-lock.svg" alt="img" title="img">
            Done
        </a>
        
    </div>
    

</div>



