<div class="comman-margin-top saved-main">
    <div class="comman-container">
            <!-- ----------Breadcumbs------------------------- -->
            <div class="breadcumbs-main">
                <div class="bredcumb-title">Account</div> 
                > 
                <div class="bredcumb-title second-margin-left">Privacy & Sharing</div>
            </div>

            <!-- ---------Content-area---------------------- -->

            <div class="personal-info-main">

                <div class="left-col-info">
                    <div class="inner-wrapper-main">
                        <div class="heading-row-main">
                            <div class="left-heading">Privacy & Sharing</div>
                            <!-- <div class="edit-btn"> <img src="../../../../assets/images/edit.svg" alt="edit" title="edit"></div> -->
                        </div>
                        <!-- -------------Your-Privacy------------------------- -->
                       <div class="privacy-row-main">
                            <div class="left-col-main">
                                <div class="form-title">Your Privacy</div>
                                <p>We use cookies to help personalise content, tailor and measure ads, and provide a safer experience.</p>
                            </div>
                            <div class="right-col-main">
                                <div class="edit-btn">
                                    <img src="../../../../assets/images/edit.svg" alt="edit" title="edit">
                                </div>
                            </div>
                       </div>
                       <!-- -------------Share-my-acitivity--------------- -->
                       <div class="share-my-activity-row">
                            <div class="form-title">Share my activity on Facebook</div>
                            <p>Turning this on means your activity will be shared to Facebook, which could include your username, profile photo, and locations you've visited.</p>
                       </div>
                        <!-- -------------Include-my-acitivity--------------- -->
                        <div class="share-my-activity-row">
                            <div class="form-title">Include my profile and listing in search engines</div>
                            <p>Turning this on means search engines, like Google, will display your profile and listing pages in search results.</p>
                       </div>
                       


                     

                    </div>


                </div>

                <div class="right-col-info">
                        <div class="right-inner-wrapper">
                            <div class="inner-divs">
                                <img src="../../../../assets/images/yellow-vector.svg" alt="lock" title="lock">
                                <div class="right-title">Pick what you share</div>
                                <p>Twiwfy cares about your privacy. Use this screen to choose how you want to share your activity.</p>
                            </div>
                        </div>


                </div>


            </div>


    
    </div>


    
</div>


