// ----Media query mixin-----------//
@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
    @content;
    }
    }
    
    @mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
    @content;
    }
    }
    
    // ----------------------------For Orientation-----------------------//
    @mixin landscape-orientation($max-screen-size,
    $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
    @content;
    }
    }
    
    @mixin btw-mq($min-screen-size,
    $max-screen-size,
    $pixel-ratio,
    $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
    @content;
    }
    }    
// ------------END of Media Screen Mixing--------------//

.saved-main {
    padding-top: 40px;
}


.breadcumbs-main {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 300;
    .bredcumb-title {
        margin-right: 10px;
    }
    .second-margin-left {
        margin-left: 10px;
        margin-right: 0;
    }
    
}

.personal-info-main {
    display: flex;
    margin-bottom: 200px;
    @include max-mq(991){
        flex-direction: column;
    }
    @include max-mq(567){
        margin-bottom: 40px;
    }
    .left-col-info {
        width: 70%;
        @include max-mq(991){
            width: 100%;
            margin-bottom: 20px;
        }
        .inner-wrapper-main {
            width: 60%;
            @include max-mq(1660){
                width: 70%;
            }
            @include max-mq(1500){
                width: 80%;
            }
            @include max-mq(1100){
                width: 90%;
            }
            @include max-mq(991){
                width: 100%;
            }
            .heading-row-main {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
                .left-heading {
                    font-size: 18px;
                    font-weight: 500;
                    text-decoration: underline;
                }
            }
        }
    }

    .right-col-info {
        width: 30%;
        @include max-mq(1100){
            width: 40%;
        }
        @include max-mq(991){
            width: 100%;
        }
        .right-inner-wrapper {
            border: 1px solid #E5E5E5;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 30px;
            @include max-mq(1500){
                padding: 25px;
            }
            .inner-divs {
                margin-bottom: 30px;
                padding-bottom: 30px;
                border-bottom: 1px solid #e8e8e8;
                &:last-child{
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                    border: none;
                }
                img {
                    margin-bottom: 20px;
                }
                .right-title {
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 15px;
                    line-height: normal;
                }
                p {
                    font-size: 14px;
                    color: rgba(51, 51, 51, 0.8);
                }
            }
        }
    }
}



.form-title {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.password-row-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
    .left-input {
        width: 50%;
        @include max-mq(567){
            width: 85%;
        }
        input{
            width: 100%;
            background: #F9F9F9;
            border: 1px solid #CFD0D1;
            box-sizing: border-box;
            border-radius: 5px;
            outline: none;
            line-height: normal;
            padding: 8px 15px;
            margin-bottom: 10px;
        }
        span {
            display: block;
            font-size: 12px;
            color: #8C8C8C;
        }
    }
    .right-edit-main{
        img{
            width: 20px;
            cursor: pointer;
        }
    }
}

.social-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
    .left-social-row{
        font-size: 14px;
        img{
            width: 30px;
            margin-right: 10px;
        }
    }
    .right-social-btn {
        font-size: 14px;
        border: 1px solid #707070;
        border-radius: 3px;
        line-height: normal;
        padding: 12px 20px;
        cursor: pointer;
        font-weight: 500;
        transition: 0.2s all ease;
        &:hover{
            background: #001534;
            color: #fff;
            transition: 0.2s all ease;
        }
    }
}


.privacy-row-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dcdcdc;
    .left-col-main{
        width: 60%;
        .form-title{
            font-weight: 500;
        }
        p{
            font-size: 14px;
        }
    }
    .right-col-main{
        .edit-btn{
            cursor: pointer;
            img{
                width: 20px;
            }
        }
    }
}

.share-my-activity-row{
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    .form-title{
        font-weight: 500;
    }
    p{
        font-size: 14px;
        margin-bottom: 0px;
    }
}