// ----------comman-color----------------//

:root{
    --black-color: #001534;
    --white-color: #fff;
    --pure-black: #000;
    --light-white: #fafafb;
    --light-gray: #EBEBEB;
    --bubble-light-color: #D6E6FF;
    --blue-color:#302EA7;
    --ligth-blue-color:#E8F0FE;
    --footer-buble-pink:#FF7170;
    --color-8c8c8c: #8C8C8C;
    --color-FFF686: #FFF686;
}
