<div class="main-error-page">
    <div class="first-circle-main"></div>
    <div class="right-first-circle-main">
            <div class="upper-buuble"></div>
            <div class="lower-buble"></div>
    </div>

    <img  src="../../../assets/images/error-404.svg" alt="404" title="404"/>
    <p>Sorry, we couldn’t find this page. But don’t worry you can find
        plenty of other things on our  <span [routerLink]="['/home']">Homepage.</span></p>
       
     <div class="new-bubble-low"></div>   
     <div class="right-low-circle-main"></div>
</div>